.bgBlur {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);

  h1 {
    font-size: 1.5rem;
  }

  div {
    background-color: white;
    border-radius: 15px;
    width: 500px;
    padding: 2rem;
    .billedTo,
    .service,
    .total {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
    }

    .items ul li {
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .billedTo {
      justify-content: left;
      * {
        margin-right: 0.5rem;
      }
    }

    .service {
      background-color: rgb(241, 241, 241);
    }

    .total {
      border-top: 2px solid rgb(241, 241, 241);
    }
  }

  .button {
    display: flex;
    justify-content: end;
    padding: 0;
    width: 100%;
  }

  .header {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    i {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  button {
    position: relative;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background-color: #244aca;
    transition: 0.3s;
  }
}

@media (max-width: 768px) {
  .bgBlur div {
    width: 90%;
  }
}
