.layout {
  display: flex;
  height: 100vh;
  background: #ffffff;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.content {
  position: relative;
  flex: 1;
  overflow-y: auto;
  padding: 3%;
  background: #f8fafc;
}


